# Local licensed pseudopotentials and VASP generated outputs.
POTCAR
POTCAR.gz
OUTCAR*
OSZICAR*
vasprun.xml*
vaspout.h5
vaspwave.h5
CONTCAR*
WAVECAR*
CHG
CHGCAR*
AECCAR*
EIGENVAL*
DOSCAR*
PROCAR*
XDATCAR*
REPORT
IBZKPT
PCDAT
LOCPOT*
ELFCAR*
CHGCAR_sum
TMPCAR
slurm-*
*.out
*.err
*.log
*.o[0-9]*
*.e[0-9]*
stdout*
stderr*
